# 1. Import Library

In [1]:
import pandas as pd
import getFamaFrenchFactors as gff

# 2. Download FamaFrench 5 Factors data

In [2]:
ff5_monthly = gff.famaFrench5Factor(frequency='m')
ff5_monthly.rename(columns={"date_ff_factors": 'Date'}, inplace=True)
ff5_monthly.set_index('Date', inplace=True)

In [3]:
ff5_monthly

            Mkt-RF     SMB     HML     RMW     CMA      RF
Date
1963-07-31 -0.0039 -0.0041 -0.0097  0.0068 -0.0118  0.0027
1963-08-31  0.0507 -0.0080  0.0180  0.0036 -0.0035  0.0025
1963-09-30 -0.0157 -0.0052  0.0013 -0.0071  0.0029  0.0027
1963-10-31  0.0253 -0.0139 -0.0010  0.0280 -0.0201  0.0029
1963-11-30 -0.0085 -0.0088  0.0175 -0.0051  0.0224  0.0027
...            ...     ...     ...     ...     ...     ...
2022-09-30 -0.0935 -0.0097  0.0006 -0.0151 -0.0084  0.0019
2022-10-31  0.0783  0.0186  0.0805  0.0307  0.0652  0.0023
2022-11-30  0.0460 -0.0267  0.0138  0.0601  0.0311  0.0029
2022-12-31 -0.0641 -0.0016  0.0132  0.0009  0.0419  0.0033
2023-01-31  0.0665  0.0443 -0.0408 -0.0261 -0.0452  0.0035

[715 rows x 6 columns]

# 3. Slice data for required period

In [4]:
ff5_monthly = ff5_monthly['2015-09':'2022-12'] # start refers to start of Fund price data # end refers to climate data
ff5_monthly

            Mkt-RF     SMB     HML     RMW     CMA      RF
Date
2015-09-30 -0.0307 -0.0280  0.0056  0.0180 -0.0060  0.0000
2015-10-31  0.0775 -0.0205 -0.0046  0.0086  0.0055  0.0000
2015-11-30  0.0056  0.0329 -0.0042 -0.0271 -0.0103  0.0000
2015-12-31 -0.0217 -0.0297 -0.0261  0.0045  0.0003  0.0001
2016-01-31 -0.0577 -0.0348  0.0209  0.0280  0.0307  0.0001
...            ...     ...     ...     ...     ...     ...
2022-08-31 -0.0377  0.0149  0.0030 -0.0478  0.0130  0.0019
2022-09-30 -0.0935 -0.0097  0.0006 -0.0151 -0.0084  0.0019
2022-10-31  0.0783  0.0186  0.0805  0.0307  0.0652  0.0023
2022-11-30  0.0460 -0.0267  0.0138  0.0601  0.0311  0.0029
2022-12-31 -0.0641 -0.0016  0.0132  0.0009  0.0419  0.0033

[88 rows x 6 columns]

# 4. Save to CSV

In [5]:
ff5_monthly.to_csv('fama_data.csv')