In [1]:
import pandas as pd
import getFamaFrenchFactors as gff

In [5]:
ff3_monthly = gff.famaFrench3Factor(frequency='m')
ff3_monthly.rename(columns={"date_ff_factors": 'Date'}, inplace=True)
ff3_monthly.set_index('Date', inplace=True)

In [6]:
ff3_monthly

            Mkt-RF     SMB     HML      RF
Date
1926-07-31  0.0296 -0.0256 -0.0243  0.0022
1926-08-31  0.0264 -0.0117  0.0382  0.0025
1926-09-30  0.0036 -0.0140  0.0013  0.0023
1926-10-31 -0.0324 -0.0009  0.0070  0.0032
1926-11-30  0.0253 -0.0010 -0.0051  0.0031
...            ...     ...     ...     ...
2022-09-30 -0.0935 -0.0079  0.0006  0.0019
2022-10-31  0.0783  0.0009  0.0805  0.0023
2022-11-30  0.0460 -0.0340  0.0138  0.0029
2022-12-31 -0.0641 -0.0068  0.0132  0.0033
2023-01-31  0.0665  0.0503 -0.0408  0.0035

[1159 rows x 4 columns]

In [7]:
ff3_monthly = ff3_monthly['2015-09':'2022-12'] # start refers to start of Fund price data # end refers to climate data
ff3_monthly

            Mkt-RF     SMB     HML      RF
Date
2015-09-30 -0.0307 -0.0263  0.0056  0.0000
2015-10-31  0.0775 -0.0187 -0.0046  0.0000
2015-11-30  0.0056  0.0359 -0.0042  0.0000
2015-12-31 -0.0217 -0.0282 -0.0261  0.0001
2016-01-31 -0.0577 -0.0343  0.0209  0.0001
...            ...     ...     ...     ...
2022-08-31 -0.0377  0.0137  0.0030  0.0019
2022-09-30 -0.0935 -0.0079  0.0006  0.0019
2022-10-31  0.0783  0.0009  0.0805  0.0023
2022-11-30  0.0460 -0.0340  0.0138  0.0029
2022-12-31 -0.0641 -0.0068  0.0132  0.0033

[88 rows x 4 columns]

In [8]:
ff3_monthly.to_csv('fama_data.csv')