In [23]:
import pandas as pd
import yesg # https://pypi.org/project/yesg/

In [24]:
# stock_list = ['AAPL',  'APTV',  'BAC', 'BALL',  'BEP', 'BKNG', 'BMRN', 'COST', 'CVS', 'DE', 'DHR', 'DIS',
#               'ECL',  'EQIX', 'ETN', 
#               'GOOG', 
#               'HD', 'HIG', 'MKC',  'MS', 'MSFT', 
#               #'NEP',  
#               'PGR', 'PLD',  'TEL', 
#               #'TREX', 
#               'TT', 'UNH', 'V', 
#               #'WSM']

In [25]:
# stock_list = ['AAPL',  'APTV',  'BAC', 'BALL',  'BEP', 'BKNG', 'BMRN', 'COST', 'CVS', 'DE', 'DHR', 'DIS', 
#  'ECL',  'EQIX', 'ETN', 'GOOGL', 'HD', 'HIG', 'MKC',  'MS', 'MSFT',  'PGR', 'PLD',  'TEL', 'TT', 'UNH', 'V']

In [26]:
stock_list = ['AAPL',  'APTV', 'BAC', 'BALL',  'BEP', 'BKNG', 'BMRN', 'COST', 'CVS', 'DE', 'ETN', 'GOOGL', 'HD', 'HIG',  'MS', 'MSFT', 'PLD',  'TT', 'UNH', 'V']

In [27]:
df = pd.DataFrame()
for i in stock_list:
    df[i+'_Total-Score'] = yesg.get_historic_esg(i)['Total-Score']
    df[i+'_E-Score'] = yesg.get_historic_esg(i)['E-Score']
    df[i+'_S-Score'] = yesg.get_historic_esg(i)['S-Score']
    df[i+'_G-Score'] = yesg.get_historic_esg(i)['G-Score']

In [28]:
df

,AAPL_Total-Score,AAPL_E-Score,AAPL_S-Score,AAPL_G-Score,APTV_Total-Score,APTV_E-Score,APTV_S-Score,APTV_G-Score,BAC_Total-Score,BAC_E-Score,...,TT_S-Score,TT_G-Score,UNH_Total-Score,UNH_E-Score,UNH_S-Score,UNH_G-Score,V_Total-Score,V_E-Score,V_S-Score,V_G-Score
Date,,,,,,,,,,,,,,,,,,,,,
2014-09-01,61.00,74.00,45.00,62.00,67.00,73.00,64.00,63.00,59.00,76.00,...,NaN,NaN,58.00,63.00,49.00,69.00,54.00,52.00,49.00,64.00
2014-10-01,60.00,74.00,45.00,62.00,67.00,73.00,64.00,63.00,59.00,76.00,...,NaN,NaN,58.00,63.00,49.00,69.00,54.00,52.00,49.00,64.00
2014-11-01,61.00,74.00,45.00,62.00,67.00,73.00,64.00,63.00,63.00,76.00,...,NaN,NaN,58.00,63.00,49.00,69.00,54.00,52.00,49.00,64.00
2014-12-01,61.00,74.00,45.00,62.00,67.00,73.00,64.00,63.00,68.00,76.00,...,NaN,NaN,58.00,63.00,49.00,69.00,54.00,52.00,49.00,64.00
2015-01-01,61.00,74.00,45.00,62.00,63.00,64.00,61.00,67.00,68.00,76.00,...,NaN,NaN,62.00,63.00,51.00,77.00,54.00,52.00,49.00,64.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-05-01,16.41,0.65,6.86,8.90,11.68,2.49,3.94,5.24,27.27,1.62,...,3.84,5.16,17.54,0.03,11.62,5.89,16.07,0.71,7.84,7.52
2022-06-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-08-01,16.68,0.65,6.86,9.18,11.68,2.49,3.94,5.24,27.15,1.62,...,3.84,5.16,17.54,0.03,11.62,5.89,16.07,0.71,7.84,7.52

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 96 entries, 2014-09-01 to 2022-08-01
Data columns (total 80 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   AAPL_Total-Score   78 non-null     float64
 1   AAPL_E-Score       78 non-null     float64
 2   AAPL_S-Score       78 non-null     float64
 3   AAPL_G-Score       78 non-null     float64
 4   APTV_Total-Score   78 non-null     float64
 5   APTV_E-Score       78 non-null     float64
 6   APTV_S-Score       78 non-null     float64
 7   APTV_G-Score       78 non-null     float64
 8   BAC_Total-Score    78 non-null     float64
 9   BAC_E-Score        78 non-null     float64
 10  BAC_S-Score        78 non-null     float64
 11  BAC_G-Score        78 non-null     float64
 12  BALL_Total-Score   2 non-null      float64
 13  BALL_E-Score       2 non-null      float64
 14  BALL_S-Score       2 non-null      float64
 15  BALL_G-Score       2 non-null      float64
 16  BEP_Total-Score    77 non-null     float64
 17  BEP_E-Score        77 non-null     float64
 18  BEP_S-Score        77 non-null     float64
 19  BEP_G-Score        77 non-null     float64
 20  BKNG_Total-Score   36 non-null     float64
 21  BKNG_E-Score       36 non-null     float64
 22  BKNG_S-Score       36 non-null     float64
 23  BKNG_G-Score       36 non-null     float64
 24  BMRN_Total-Score   78 non-null     float64
 25  BMRN_E-Score       78 non-null     float64
 26  BMRN_S-Score       78 non-null     float64
 27  BMRN_G-Score       78 non-null     float64
 28  COST_Total-Score   78 non-null     float64
 29  COST_E-Score       78 non-null     float64
 30  COST_S-Score       78 non-null     float64
 31  COST_G-Score       78 non-null     float64
 32  CVS_Total-Score    78 non-null     float64
 33  CVS_E-Score        78 non-null     float64
 34  CVS_S-Score        78 non-null     float64
 35  CVS_G-Score        78 non-null     float64
 36  DE_Total-Score     77 non-null     float64
 37  DE_E-Score         77 non-null     float64
 38  DE_S-Score         77 non-null     float64
 39  DE_G-Score         77 non-null     float64
 40  ETN_Total-Score    77 non-null     float64
 41  ETN_E-Score        77 non-null     float64
 42  ETN_S-Score        77 non-null     float64
 43  ETN_G-Score        77 non-null     float64
 44  GOOGL_Total-Score  78 non-null     float64
 45  GOOGL_E-Score      78 non-null     float64
 46  GOOGL_S-Score      78 non-null     float64
 47  GOOGL_G-Score      78 non-null     float64
 48  HD_Total-Score     78 non-null     float64
 49  HD_E-Score         78 non-null     float64
 50  HD_S-Score         78 non-null     float64
 51  HD_G-Score         78 non-null     float64
 52  HIG_Total-Score    78 non-null     float64
 53  HIG_E-Score        78 non-null     float64
 54  HIG_S-Score        78 non-null     float64
 55  HIG_G-Score        78 non-null     float64
 56  MS_Total-Score     78 non-null     float64
 57  MS_E-Score         78 non-null     float64
 58  MS_S-Score         78 non-null     float64
 59  MS_G-Score         78 non-null     float64
 60  MSFT_Total-Score   78 non-null     float64
 61  MSFT_E-Score       78 non-null     float64
 62  MSFT_S-Score       78 non-null     float64
 63  MSFT_G-Score       78 non-null     float64
 64  PLD_Total-Score    78 non-null     float64
 65  PLD_E-Score        78 non-null     float64
 66  PLD_S-Score        78 non-null     float64
 67  PLD_G-Score        78 non-null     float64
 68  TT_Total-Score     15 non-null     float64
 69  TT_E-Score         15 non-null     float64
 70  TT_S-Score         15 non-null     float64
 71  TT_G-Score         15 non-null     float64
 72  UNH_Total-Score    78 non-null     float64
 73  UNH_E-Score        78 non-null     float64
 74  UNH_S-Score        78 non-null     float64
 75  UNH_G-Score        78 non-null     float64
 76  V_Total-Score      78 non-null     float64
 77  V_E-Score          78 non-null     float64
 78  V_S-Score          78 non-null     float64
 79  V_G-Score          78 non-null     float64
dtypes: float64(80)
memory usage: 60.8 KB

In [19]:
columns = ['BALL_Total-Score', 'BALL_E-Score', 'BALL_S-Score', 'BALL_G-Score', 
           'BKNG_Total-Score', 'BKNG_E-Score', 'BKNG_S-Score', 'BKNG_G-Score', 
           'TT_Total-Score', 'TT_E-Score', 'TT_S-Score', 'TT_G-Score',]
df.drop(columns, inplace=True, axis=1)

In [20]:
df

,AAPL_Total-Score,AAPL_E-Score,AAPL_S-Score,AAPL_G-Score,APTV_Total-Score,APTV_E-Score,APTV_S-Score,APTV_G-Score,BAC_Total-Score,BAC_E-Score,...,PLD_S-Score,PLD_G-Score,UNH_Total-Score,UNH_E-Score,UNH_S-Score,UNH_G-Score,V_Total-Score,V_E-Score,V_S-Score,V_G-Score
Date,,,,,,,,,,,,,,,,,,,,,
2014-09-01,61.00,74.00,45.00,62.00,67.00,73.00,64.00,63.00,59.00,76.00,...,69.00,79.00,58.00,63.00,49.00,69.00,54.00,52.00,49.00,64.00
2014-10-01,60.00,74.00,45.00,62.00,67.00,73.00,64.00,63.00,59.00,76.00,...,69.00,79.00,58.00,63.00,49.00,69.00,54.00,52.00,49.00,64.00
2014-11-01,61.00,74.00,45.00,62.00,67.00,73.00,64.00,63.00,63.00,76.00,...,69.00,79.00,58.00,63.00,49.00,69.00,54.00,52.00,49.00,64.00
2014-12-01,61.00,74.00,45.00,62.00,67.00,73.00,64.00,63.00,68.00,76.00,...,69.00,79.00,58.00,63.00,49.00,69.00,54.00,52.00,49.00,64.00
2015-01-01,61.00,74.00,45.00,62.00,63.00,64.00,61.00,67.00,68.00,76.00,...,69.00,79.00,62.00,63.00,51.00,77.00,54.00,52.00,49.00,64.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-05-01,16.41,0.65,6.86,8.90,11.68,2.49,3.94,5.24,27.27,1.62,...,1.74,4.28,17.54,0.03,11.62,5.89,16.07,0.71,7.84,7.52
2022-06-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-08-01,16.68,0.65,6.86,9.18,11.68,2.49,3.94,5.24,27.15,1.62,...,1.74,4.27,17.54,0.03,11.62,5.89,16.07,0.71,7.84,7.52

In [21]:
df = df.loc['2015-08-31':]

In [22]:
df

,AAPL_Total-Score,AAPL_E-Score,AAPL_S-Score,AAPL_G-Score,APTV_Total-Score,APTV_E-Score,APTV_S-Score,APTV_G-Score,BAC_Total-Score,BAC_E-Score,...,PLD_S-Score,PLD_G-Score,UNH_Total-Score,UNH_E-Score,UNH_S-Score,UNH_G-Score,V_Total-Score,V_E-Score,V_S-Score,V_G-Score
Date,,,,,,,,,,,,,,,,,,,,,
2015-09-01,64.00,77.00,45.00,67.00,65.00,68.00,61.00,67.00,69.00,78.00,...,68.00,79.00,61.00,63.00,50.00,76.00,54.00,53.00,49.00,64.00
2015-10-01,63.00,77.00,45.00,67.00,65.00,68.00,60.00,67.00,68.00,78.00,...,68.00,78.00,61.00,63.00,50.00,76.00,54.00,53.00,49.00,64.00
2015-11-01,62.00,77.00,45.00,62.00,65.00,68.00,60.00,67.00,68.00,78.00,...,68.00,78.00,61.00,63.00,50.00,76.00,54.00,53.00,49.00,64.00
2015-12-01,62.00,77.00,45.00,62.00,65.00,71.00,61.00,65.00,69.00,79.00,...,68.00,79.00,61.00,63.00,50.00,76.00,63.00,57.00,60.00,76.00
2016-01-01,62.36,77.47,45.14,62.28,65.40,71.45,60.52,64.75,68.52,78.66,...,68.05,78.68,68.36,73.68,59.00,77.96,63.03,57.00,59.68,76.29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-05-01,16.41,0.65,6.86,8.90,11.68,2.49,3.94,5.24,27.27,1.62,...,1.74,4.28,17.54,0.03,11.62,5.89,16.07,0.71,7.84,7.52
2022-06-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-08-01,16.68,0.65,6.86,9.18,11.68,2.49,3.94,5.24,27.15,1.62,...,1.74,4.27,17.54,0.03,11.62,5.89,16.07,0.71,7.84,7.52